#bbpalette {
	display: inline;
}

#fc {
	margin: 0 auto;
	height: 20px;
	width: 20px;
	border-style: solid;
	border-width: 1px;
}

#chat_colour_palette {
	display: none;
	text-align: center;
	padding-bottom: 5px;
	text-indent: 0;
}

#chat_colour_palette table {
	margin: 0 auto;
}

#chat {
	width: 100%;
	text-align: left;
}

#message {
	width: 65%;
}

#whois_online{
	vertical-align: text-top;
	text-align: left;
}

#act_indicator {
	visibility: hidden;
	vertical-align: text-bottom;
	cursor: wait;
}

#check_indicator{
	vertical-align: text-bottom;
	margin-right: -16px;
	cursor: help;
}

.chat_sound {
	visibility: hidden;
	position: absolute;
}

.select_color {
	margin: 0 auto;
}

.box {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.chat_profile {
	width: 200px;
	padding: 4px;
}

.whois {
	height: 300px;
	overflow: auto;
}

.shouts {
	width: 100%;
	height: 300px;
	overflow: auto;
}

.status_img {
	vertical-align: middle;
}

.chat-avatars {
	float: left;
	position: relative;
	margin-right: 10px;
	outline: none;
	z-index: 0;
}

div.chat-avatars:hover {
	background-color: transparent;
	z-index: 50;
}

.chat-avatars span {
	position: absolute;
	left: 0px;
	display: none;
	color: #FFFFFF;
	text-decoration: none;
}

.chat-avatars span img {
	border-width: 0;
}

div.chat-avatars:hover span {
	position: absolute;
	display: block;
	top: -25px;
	left: 40px;
	padding: 2px 2px 0;
	background-color: transparent;
	border: none;
}

.chat .cat {
	background-repeat-y: no-repeat !important;
}

.chat-icon {
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: url("./images/icon_chat.png");
	padding: 6px 0 6px 21px;
}

#chat_smilies {
	margin-bottom: 5px;
}

/* ABBC3 Compatibility */

.abbc3_buttons_row {
	width: inherit !important;
}

#abbc3_buttons {
	margin-top: 0 !important;
}
