<!-- IF S_CHAT_ENABLED -->
	<!-- IF S_AJAXCHAT_VIEW -->
		<!-- IF S_GET_CHAT -->
			<!-- IF S_READ or S_ADD -->
				<!-- BEGIN chatrow -->
					<div id="p{chatrow.MESSAGE_ID}">
						<table class="tablebg" cellpadding="6" cellspacing="0" width="100%">
							<tr class="row{chatrow.CLASS}">
								<td class="chat_profile">
									<b class="postauthor">
										<object>
											<div class="chat-avatars">
												<!-- IF S_AJAX_CHAT_AVATARS -->
													<!-- IF chatrow.USER_AVATAR -->
														<!-- IF S_AJAX_CHAT_AVATAR_HOVER -->
															<span>{chatrow.USER_AVATAR}</span>
														<!-- ENDIF -->
															{chatrow.USER_AVATAR_THUMB}
													<!-- ELSE -->
														<!-- IF S_AJAX_CHAT_AVATAR_HOVER -->
															<span>
																<img src="{STYLE_PATH}/theme/images/no_avatar.png" width="128" alt="" />
															</span>
														<!-- ENDIF -->
														<img src="{STYLE_PATH}/theme/images/no_avatar.png" width="35" alt="" />
													<!-- ENDIF -->
												<!-- ENDIF -->
											</div>
										</object>
										<!-- IF not S_IS_BOT -->
											<!-- IF chatrow.USER_COLOR -->
												<a href="#" style="color: #{chatrow.USER_COLOR}" onclick="insert_text('[color=#{chatrow.USER_COLOR}][b]&#64;{chatrow.USERNAME_A}&nbsp;:&nbsp;[/color][/b]', true);return false;" title="{L_RESPOND}">&#64;</a>
											<!-- ELSE -->
												<a href="#" onclick="insert_text('[b]&#64;{chatrow.USERNAME_A}&nbsp;:&nbsp;[/b]', true);return false;" title="{L_RESPOND}">&#64;</a>
											<!-- ENDIF -->
										<!-- ELSE -->
											&#64;
										<!-- ENDIF -->
										{chatrow.USERNAME_FULL}
									</b>
										<br />
										« {chatrow.TIME} »
										<br />
								</td>
								<td>
									 <div class="chat_postbody">{chatrow.MESSAGE}<!-- IF M_AJAXCHAT_DELETE or U_ACP --><a href="javascript:void({chatrow.MESSAGE_ID})" title="{L_DELETE_POST}" onclick="delete_post('{chatrow.MESSAGE_ID}')"><span class="imageset icon_post_delete floatr" title="{L_DELETE}">{L_DELETE}</span></a><!-- ENDIF --></div>
								</td>
							</tr>
						</table>
					</div>
				<!-- END chatrow -->
				--!--{LAST_ID}--!--
				<!-- IF S_AJAX_CHAT_SOUND -->
					<!-- IF SOUND_ENABLED -->
						<div class="chat_sound">
							<object data="{BOARD_URL}ext/spaceace/ajaxchat/styles/all/theme/sounds/{SOUND_FILE}.swf" type="application/x-shockwave-flash">
								<param name="movie" value="{EXT_STYLE_PATH}all/theme/sounds/{SOUND_FILE}.swf" />
							</object>
						</div>
					<!-- ENDIF -->
				<!-- ENDIF -->
					<!-- IF S_WHOISONLINE -->
							<!-- BEGIN whoisrow -->
								<div class="whois_status<!-- IF not S_AJAX_CHAT_ONLINELIST or S_ARCHIVE or not S_WHOIS_CHATTING --> whois_online_off<!-- ENDIF -->">
									<img src="{BOARD_URL}ext/spaceace/ajaxchat/styles/all/theme/images/{whoisrow.USER_STATUS}.png" class="status_img" alt="{whoisrow.USER_STATUS}" />&nbsp;{whoisrow.USERNAME_FULL}&nbsp;
								</div>
							<!-- END whoisrow -->
					<!-- ENDIF -->
				--!--{LAST_TIME}--!--{REFRESH_TIME}--!--{LAST_POST}
			<!-- ENDIF -->
		<!-- ELSE -->
			<!-- IF S_CHAT -->
				<!-- INCLUDE overall_header.html -->
			<!-- ENDIF -->
			<!-- IF S_POPUP or S_ARCHIVE -->
				<!-- EVENT overall_header_head_append -->
				<!-- INCLUDE simple_header.html -->
				<div>
			<!-- ENDIF -->
			<script type="text/javascript" src="{BOARD_URL}assets/javascript/jquery.min.js"></script>
			<script type="text/javascript">
			// <![CDATA[
				var last_time = {TIME};
				var last_id = {LAST_ID};
				var post_time = {LAST_POST};
				var read_interval = ({REFRESH_TIME} * 1000);
				var chat_empty = '{LA_EMPTY}';
				var ie_no_ajax = '{LA_IE_NO_AJAX}';
				var cookie_name = '{COOKIE_NAME}';
				var upgrade_browser = '{LA_UPGRADE_BROWSER}';
				var query_url	= '{FILENAME}';
				<!-- IF S_POPUP -->
					var query_url = '{FILENAME}/popup';
				<!-- ELSEIF S_ARCHIVE -->
					var query_url = '{FILENAME}/archive';
				<!-- ENDIF -->
				<!-- IF S_AJAXCHAT_BBCODE -->
					var chatbbcodetrue = true;
				<!-- ELSE -->
					var chatbbcodetrue = false;
				<!-- ENDIF -->
				//]]>
			</script>
			<!-- INCLUDEJS @spaceace_ajaxchat/js/ajax_chat.js -->
			<div class="chat">
				<div><div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><div class="c-h-title"><h4><!-- IF SCRIPT_NAME == "index" --><a href="{U_CHAT}" class="white">{L_CHAT_EXPLAIN}</a><!-- ELSE -->{L_CHAT_EXPLAIN}<!-- ENDIF --></h4></div></div></div></div></div>
				<div class="left"><div class="right">
				<div class="box">
					<table class="tablebg" cellspacing="1" width="100%">
							<tr>
								<td align="center" class="cat nav" width="<!-- IF not S_AJAX_CHAT_ONLINELIST or S_ARCHIVE or not S_WHOIS_CHATTING -->100%<!-- ELSE -->85%<!-- ENDIF -->">
										<!-- IF not S_IS_BOT and not S_ARCHIVE -->
											<!-- IF S_AJAXCHAT_POST -->
												<form name="postform" id="text" method="post" action="javascript:void(0);" onsubmit="handle_send('add', this)" autocomplete="off">
													<!-- INCLUDE chat_font_colour_hold.html -->
													<input type="text" tabindex="1" name="message" id="message" class="inputbox" size="28" />
													<br />
													<br />
													<input type="submit" class="btnmain" value="{L_SUBMIT}" title="{L_CHAT_SUBMIT_MESSAGE}" name="submit" tabindex="6" accesskey="s" />
													<!-- IF S_AJAXCHAT_BBCODE -->
														<input type="button" class="btnmain" id="bbcodes" value="{L_BBCODES}" />
														<input type="button" class="btnmain" id="smilies" value="{L_SMILIES}" />
													<!-- ENDIF -->
													<input type="button" class="btnmain" onclick="popup('{FILENAME}/archive', 1025, 485); return false;" value="{L_CHAT_ARCHIVE}" title="{L_CHAT_ARCHIVE_EXPLAIN}" />
													<input type="button" class="btnmain" onclick="popup('{FILENAME}/popup', 1025, 485); return false;" value="{L_CHAT_POPUP}" title="{L_CHAT_POPUP_EXPLAIN}" />
													<!-- IF S_AJAXCHAT_BBCODE -->
														<input type="button" class="btnmain" name="chat_bbpalette" id="chat_bbpalette" value="{L_CHAT_FONT_COLOR}" />
													<!-- ENDIF -->
												<!-- INCLUDE chat_buttons.html -->
												</form>
											<!-- ELSE -->
												{L_NO_POST_IN_CHAT}
											<!-- ENDIF -->
										<!-- ELSE -->
											<!-- IF not S_USER_LOGGED_IN -->
												<div class="input_message">{L_GUEST_MESSAGE}</div>
											<!-- ENDIF -->
									<!-- ENDIF -->
								</td>
								<td align="center" class="cat nav" <!-- IF not S_AJAX_CHAT_ONLINELIST or S_ARCHIVE or not S_WHOIS_CHATTING -->style="visibility: hidden; position: absolute;"<!-- ELSE -->width="15%"<!-- ENDIF -->>{L_WHOIS_CHATTING}</td>
							</tr>
						<tr>
							<td class="row" style="text-align:left;" height="220">
								<div class="shouts">
									<div id="chat">
										<!-- BEGIN chatrow -->
											<div id="p{chatrow.MESSAGE_ID}">
												<table class="tablebg" cellpadding="6" cellspacing="0" width="100%">
													<tr class="row{chatrow.CLASS}">
														<td class="chat_profile">
															<b class="postauthor">
																<object>
																	<div class="chat-avatars">
																		<!-- IF S_AJAX_CHAT_AVATARS -->
																			<!-- IF chatrow.USER_AVATAR -->
																				<!-- IF S_AJAX_CHAT_AVATAR_HOVER -->
																					<span>{chatrow.USER_AVATAR}</span>
																				<!-- ENDIF -->
																					{chatrow.USER_AVATAR_THUMB}
																			<!-- ELSE -->
																				<!-- IF S_AJAX_CHAT_AVATAR_HOVER -->
																					<span>
																						<img src="{STYLE_PATH}/theme/images/no_avatar.png" width="128" alt="" />
																					</span>
																				<!-- ENDIF -->
																				<img src="{STYLE_PATH}/theme/images/no_avatar.png" width="35" alt="" />
																			<!-- ENDIF -->
																		<!-- ENDIF -->
																	</div>
																</object>
																<!-- IF not S_IS_BOT -->
																	<!-- IF chatrow.USER_COLOR -->
																		<a href="#" style="color: #{chatrow.USER_COLOR}" onclick="insert_text('[color=#{chatrow.USER_COLOR}][b]&#64;{chatrow.USERNAME_A}&nbsp;:&nbsp;[/color][/b]', true);return false;" title="{L_RESPOND}">&#64;</a>
																	<!-- ELSE -->
																		<a href="#" onclick="insert_text('[b]&#64;{chatrow.USERNAME_A}&nbsp;:&nbsp;[/b]', true);return false;" title="{L_RESPOND}">&#64;</a>
																	<!-- ENDIF -->
																<!-- ELSE -->
																	&#64;
																<!-- ENDIF -->
																{chatrow.USERNAME_FULL}</b>
																<br />
																« {chatrow.TIME} »
																<br />
														</td>
														<td>
															 <div class="chat_postbody">{chatrow.MESSAGE}<!-- IF M_AJAXCHAT_DELETE or U_ACP --><a href="javascript:void({chatrow.MESSAGE_ID})" title="{L_DELETE_POST}" onclick="delete_post('{chatrow.MESSAGE_ID}')"><span class="imageset icon_post_delete floatr" title="{L_DELETE}">{L_DELETE}</span></a><!-- ENDIF --></div>
														</td>
													</tr>
												</table>
											</div>
										<!-- END chatrow -->
									</div>
								</div>
							</td>
							<td class="row1" nowrap="nowrap" <!-- IF not S_AJAX_CHAT_ONLINELIST or S_ARCHIVE or not S_WHOIS_CHATTING -->style="visibility: hidden; position: absolute;"<!-- ENDIF -->>
								<div class="whois">
									<div id="whois_online">
										<!-- BEGIN whoisrow -->
											<div class="whois_status<!-- IF not S_AJAX_CHAT_ONLINELIST or S_ARCHIVE or not S_WHOIS_CHATTING --> whois_online_off<!-- ENDIF -->">
												<img src="{BOARD_URL}ext/spaceace/ajaxchat/styles/all/theme/images/{whoisrow.USER_STATUS}.png" class="status_img" alt="{whoisrow.USER_STATUS}" />&nbsp;{whoisrow.USERNAME_FULL}&nbsp;
											</div>
										<!-- END whoisrow -->
									</div>
								</div>
							</td>
						</tr>
						<tr>
						</tr>
					</table>
				</div>
</div></div>
<div class="c-f-l"><div class="c-f-r"><div class="c-f-c">
	<div class="vert">
		<span class="chat-icon">&nbsp;{L_DETAILS}&nbsp;&copy; 2015&nbsp;<strong style="color: #AA0000;">Live&nbsp;Members&nbsp;Only</strong></span>
		<img src="{BOARD_URL}ext/spaceace/ajaxchat/styles/all/theme/images/check_indicator.gif" id="check_indicator" title="3.0.5-BETA" />
		<img src="{BOARD_URL}ext/spaceace/ajaxchat/styles/all/theme/images/act_indicator.gif" id="act_indicator" title="3.0.5-BETA" />
		<strong>&nbsp;{L_UPDATES}&nbsp;<span id="update_seconds">{REFRESH_TIME}</span>&nbsp;{L_UNIT}</strong>
	</div>
</div></div></div>
			</div>
			<!-- IF S_CHAT -->
				<!-- INCLUDE overall_footer.html -->
			<!-- ENDIF -->
			<!-- IF S_POPUP or S_ARCHIVE -->
				</div>
				<!-- INCLUDE simple_footer.html -->
			<!-- ENDIF -->
		<!-- ENDIF -->
	<!-- ENDIF -->
<!-- ENDIF -->