<ul class="chat topiclist forums nobg">
	<li class="row nobg">
		<dl class="row-item">
			<dt class="chatform">
				{% if not S_IS_BOT %}
					{% if S_AJAXCHAT_POST %}
						<form name="postform" id="chat-text" method="post" action="javascript:void(0);" onsubmit="handle_send('add', this)">
							<fieldset>
								{{ S_FORM_TOKEN }}
								{% INCLUDE 'chat_body_font_colour_hold.html' %}
								<input type="text" tabindex="1" name="message" id="message" class="inputbox chatinput"{% if not S_AJAX_CHAT_AUTOCOMPLETE %} autocomplete="off"{% endif %} />
								<br />
								{% EVENT spaceace_ajax_chat_buttons_before %}
								<input type="submit" class="button" value="{{ lang('SUBMIT') }}" title="{{ lang('CHAT_SUBMIT_MESSAGE') }}" name="submit" tabindex="6" accesskey="s" />
								{% if S_AJAXCHAT_BBCODE %}
									{% EVENT spaceace_ajax_chat_bbcode_before %}
									<input type="button" class="button" id="bbcodes" value="{{ lang('BBCODES') }}" />
									{% EVENT spaceace_ajax_chat_bbcode_after %}
								{% endif %}
								{% if S_SMILIES_ALLOWED %}
									{% EVENT spaceace_ajax_chat_smilies_before %}
									<input type="button" class="button" name="smilies" id="smilies" value="{{ lang('SMILIES') }}" />
									{% EVENT spaceace_ajax_chat_smilies_after %}
								{% endif %}
								{% EVENT spaceace_ajax_chat_buttons_mid %}
								<input type="button" class="button" onclick="popup('{{ FILENAME }}/archive', 1000, 565); return false;" value="{{ lang('CHAT_ARCHIVE') }}" title="{{ lang('CHAT_ARCHIVE_EXPLAIN') }}" />
								{% if CHAT_PAGE != 'popup' %}
									<input type="button" class="button" onclick="popup('{{ FILENAME }}/popup', 1000, 665); return false;" value="{{ lang('CHAT_POPUP') }}" title="{{ lang('CHAT_POPUP_EXPLAIN') }}" />
								{% endif %}
								{% if S_AJAXCHAT_BBCODE %}
									<input type="button" class="button" name="chat_bbpalette" id="chat_bbpalette" value="{{ lang('CHAT_FONT_COLOR') }}" />
								{% endif %}
								{% EVENT spaceace_ajax_chat_buttons_after %}
							</fieldset>
						{% INCLUDE 'chat_body_buttons.html' %}
						</form>
					{% else %}
						{{ lang('NO_POST_IN_CHAT') }}
					{% endif %}
				{% else %}
					<div class="input_message">{{ lang('GUEST_MESSAGE') }}</div>
				{% endif %}
			</dt>
			<dd>
			</dd>
		</dl>
	</li>
</ul>