<!-- IF S_CHAT_ENABLED -->
<!-- IF S_AJAXCHAT_VIEW -->
<!-- IF S_GET_CHAT -->
<!-- IF S_READ or S_ADD -->
<!-- BEGIN chatrow -->
<div id="p{chatrow.MESSAGE_ID}" class="post bg{chatrow.CLASS}">
	<div class="chat-postbody">
		<div class="chat-profile-width">
			<div class="chat-postprofile" id="profile{chatrow.MESSAGE_ID}">
				<dl>
					<dt>
					<div class="chat-avatars">
						<!-- IF S_AJAX_CHAT_AVATARS -->
						<!-- IF chatrow.USER_AVATAR -->
						<!-- IF S_AJAX_CHAT_AVATAR_HOVER --><span>{chatrow.USER_AVATAR}</span><!-- ENDIF -->{chatrow.USER_AVATAR_THUMB}
						<!-- ELSE -->
						<!-- IF S_AJAX_CHAT_AVATAR_HOVER -->
						<span>
							<img src="{T_THEME_PATH}/images/no_avatar.gif" width="128" height="128" alt="" />
						</span>
						<!-- ENDIF -->
						<img src="{T_THEME_PATH}/images/no_avatar.gif" width="35" height="35" alt="" />
						<!-- ENDIF -->
						<!-- ENDIF -->
					</div>
					<!-- IF S_USER_LOGGED_IN and not S_IS_BOT -->
					<!-- IF chatrow.USER_COLOR -->
					<a href="#" style="color: #{chatrow.USER_COLOR}" onclick="insert_text('[color=#{chatrow.USER_COLOR}][b]&#64;{chatrow.USERNAME_A}&nbsp;:&nbsp;[/color][/b]', true); return false;" title="{L_RESPOND}">&#64;</a>
					<!-- ELSE -->
					<a href="#" onclick="insert_text('[b]&#64;{chatrow.USERNAME_A}&nbsp;:&nbsp;[/b]', true); return false;" title="{L_RESPOND}">&#64;</a>
					<!-- ENDIF -->
					<!-- ELSE -->
					&#64;
					<!-- ENDIF -->
					{chatrow.USERNAME_FULL}
					<br />
					<b class="time" style="font-size: 0.9em;">
						&laquo;&nbsp;{chatrow.TIME}&nbsp;&raquo;
					</b>
					</dt>
					<dd>
					</dd>
				</dl>
			</div>
		</div>
		<div class="message">
			<!-- IF U_MCP or U_ACP -->
			<ul class="post-buttons">
				<a href="javascript:void({chatrow.MESSAGE_ID})" title="{L_DELETE_CHAT_MESSAGE}" onClick="delete_post('{chatrow.MESSAGE_ID}')">
					<li style="padding: 0 3px;" class="button icon-button delete-icon">
					</li>
				</a>
			</ul>
			<!-- ENDIF -->
			{chatrow.MESSAGE}
		</div>
	</div>
</div>
<!-- END chatrow -->
--!--{LAST_ID}--!--
<!-- IF S_AJAX_CHAT_SOUND -->
<!-- BEGIN soundrow -->
{soundrow.SOUND}
<!-- END soundrow -->
<!-- ENDIF -->
<!-- IF S_WHOISONLINE -->
<!-- BEGIN whoisrow -->
<!-- IF S_AJAX_CHAT_ONLINELIST -->
<div style="margin-top: 4px"><img src="ext/spaceace/ajaxchat/styles/all/theme/images/{whoisrow.USER_STATUS}.png" class="online_img" alt="{whoisrow.USER_STATUS}" /> {whoisrow.USERNAME_FULL}</div>
<!-- ENDIF -->
<!-- END whoisrow -->
--!--{LAST_TIME}--!--{DELAY}--!--{LAST_POST}
<!-- ENDIF -->
<!-- ENDIF -->
<!-- ELSE -->
<!-- IF S_CHAT -->
<!-- INCLUDE overall_header.html -->
<p class="{S_CONTENT_FLOW_END}<!-- IF S_USER_LOGGED_IN --> rightside<!-- ENDIF -->"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF --></p>
<p>{CURRENT_TIME}</p>
<!-- ENDIF -->
<!-- IF S_POPUP -->
<!-- INCLUDE simple_header.html -->
<div style="margin-top: -15px;">
	<!-- ENDIF -->
	<script type="text/javascript" src="./assets/javascript/jquery.min.js"></script>
	<script type="text/javascript">
	// <![CDATA[
		var last_time = {TIME};
		var last_id = {LAST_ID};
		var read_interval = {REFRESH_TIME}*1000;
		var chat_empty = '{LA_EMPTY}';
		var ie_no_ajax = '{LA_IE_NO_AJAX}';
		var upgrade_browser = '{LA_UPGRADE_BROWSER}';
		<!-- IF S_AJAXCHAT_BBCODE -->
			var chatbbcodetrue = true;
		<!-- ELSE -->
			var chatbbcodetrue = false;
		<!-- ENDIF -->
	//]]>
	</script>
	<!-- INCLUDEJS @spaceace_ajaxchat/js/ajax_chat.js -->
	
	<!-- IF SCRIPT_NAME == "index" -->
	<br />
	<!-- ENDIF -->
	<div class="forabg">
		<ul class="chatheader">
			<li class="header">
				<div class="icon">
					<div style="width: 100%; padding: 2px 0; text-align: center; " class="icon_chat">
						<!-- IF SCRIPT_NAME == "index" -->
						<a href="{U_CHAT}">
							{L_CHAT_EXPLAIN}
						</a>
						<!-- ELSE -->
						{L_CHAT_EXPLAIN}
						<!-- ENDIF -->
					</div>
				</div>
			</li>
		</ul>
		<ul class="chat topiclist forums">
			<li class="row">
				<dl class="chatlist">
					<dt>
					</dt>
					<dd style="width: 100%;text-align: center">
						<!-- IF S_USER_LOGGED_IN and not S_IS_BOT -->
						<!-- IF S_AJAXCHAT_POST -->
						<form name="postform" id="text" method="post" action="javascript:void(0);" onsubmit="handle_send('add', this)">
							<fieldset>
								<!-- INCLUDE chat_font_colour_hold.html -->
								<input type="text" tabindex="1" name="message" id="message" class="inputbox chatinput" style="margin-bottom: 4px" />
								<br />
								<input type="submit" class="button2" value="{L_SUBMIT}" title="{L_CHAT_SUBMIT_MESSAGE}" name="submit" tabindex="6" accesskey="s" />
								<!-- IF S_AJAXCHAT_BBCODE -->
									<input type="button" class="button2" id="bbcodes" value="{L_BBCODES}" />
								<!-- ENDIF -->
								<input type="button" class="button2" name="smilies" id="smilies" value="{L_SMILIES}" />
								<input type="button" class="button2" onclick="popup('chat/archive', 1000, 625); return false;" value="{L_CHAT_ARCHIVE}" title="{L_CHAT_ARCHIVE_EXPLAIN}" />
								<!-- IF SCRIPT_NAME != "chat_popup" -->
								<input type="button" class="button2" onclick="popup('chat/popup', 1000, 625); return false;" value="{L_CHAT_POPUP}" title="{L_CHAT_POPUP_EXPLAIN}" />
								<!-- ENDIF -->
								<input type="button" class="button2" name="bbpalette" id="bbpalette" value="{L_CHAT_FONT_COLOR}" />
							</fieldset>
						</form>
						<!-- INCLUDE chat_buttons.html -->
						<!-- ELSE -->
						{L_NO_POST_IN_CHAT}
						<!-- ENDIF -->
						<!-- ELSE -->
						{L_GUEST_MESSAGE}
						<!-- ENDIF -->
					</dd>
				</dl>
		</ul>
		</li>
	</div>
	<!-- IF CHAT_RULES -->
	<div class="chat_rules">
		<span class="span_chat_rule">{L_CHAT_RULE}</span><span>{CHAT_RULES}</span>
	</div>
	<!-- ENDIF -->
	<div class="<!-- IF S_AJAX_CHAT_ONLINELIST -->shouts<!-- ENDIF --><!-- IF not S_AJAX_CHAT_ONLINELIST -->chat_online_off<!-- ENDIF --><!-- IF S_CHAT or S_POPUP --> main<!-- ENDIF -->">
		<div id="chat">
			<!-- INCLUDE shout_body.html -->
		
	
	<div class="navbar" style="margin-top: 6px">
		<div class="chatform">
			<span class="list chat-icon">
				&nbsp;{L_DETAILS}
			</span>
			&nbsp; 
			<img src="ext/spaceace/ajaxchat/styles/all/theme/images/check_indicator.gif" id="check_indicator" alt="" />
			<img src="ext/spaceace/ajaxchat/styles/all/theme/images/act_indicator.gif" id="act_indicator" alt="" />
			&nbsp; 
			<strong>
				{L_UPDATES} 
				<span id="update_seconds">
					{REFRESH_TIME}
				</span>
				{L_UNIT}
			</strong>
		</div>
	</div>
	<!-- IF S_CHAT -->
	<!-- INCLUDE overall_footer.html -->
	<!-- ENDIF -->
	<!-- IF S_POPUP -->
</div>
<!-- INCLUDE simple_footer.html -->
<!-- ENDIF -->
<!-- ENDIF -->
<br />
<!-- ENDIF -->
<!-- ENDIF -->
