{% if S_CHAT_ENABLED %}
	{% if S_AJAXCHAT_VIEW %}
		{% if S_GET_CHAT %}
			{% INCLUDE 'chat_body_readadd.html' %}
		{% else %}
			{% if CHAT_PAGE == 'chat' %}
				{% INCLUDE 'overall_header.html' %}
			{% endif %}
			{% if CHAT_PAGE == 'popup' or CHAT_PAGE == 'archive' %}
				{% INCLUDE 'simple_header.html' %}
				<div>
			{% endif %}
			{% INCLUDE 'chat_body_script_vars.html' %}
			{% INCLUDEJS '@spaceace_ajaxchat/js/ajax_chat.js' %}
			{% EVENT spaceace_ajax_chat_chat_body_before %}
			<div id="ajaxchat">
				<div class="forabg">
					<div class="inner">
						<ul class="topiclist">
							<li class="header">
								<dl class="row-item">
									<dt><div class="chat-header-link">{% if SCRIPT_NAME == 'index' %}<a href="{{ U_CHAT }}">{{ lang('CHAT_EXPLAIN') }}</a>{% else %}{{ lang('CHAT_EXPLAIN') }}{% endif %}</div></dt>
									<dd></dd>
								</dl>
							</li>
						</ul>
						{% if CHAT_PAGE neq 'archive' %}
							{% if S_AJAX_CHAT_MESSAGES_DOWN %}
								{% INCLUDE 'chat_body_input.html' %}
							{% endif %}
						{% endif %}
					</div>
				</div>
					{% if CHAT_RULES and CHAT_PAGE neq 'archive' %}
						{% INCLUDE 'chat_body_chat_rules.html' %}
					{% endif %}
				<div>
					<div class="shout-body{% if S_WHOIS_CHATTING %}{% if S_AJAX_CHAT_ONLINELIST and CHAT_PAGE neq 'archive' %} shouts{% endif %}{% endif %}{% if not S_AJAX_CHAT_ONLINELIST or CHAT_PAGE == 'archive' or not S_WHOIS_CHATTING %} chat_online_off{% endif %}{% if SCRIPT_NAME != 'index' %}{% if S_CHAT or S_POPUP or CHAT_PAGE == 'archive' %} main{% endif %}{% endif %}">
						<div id="chat" {% if not S_AJAX_CHAT_MESSAGES_DOWN %}class="chat-messages-down"{% endif %} >
							{% INCLUDE 'chat_body_chatrow.html' %}
						</div>
					</div>
					{% if S_WHOISONLINE %}
						<div class="whois{% if SCRIPT_NAME != 'index' %}{% if S_CHAT or S_POPUP %} main{% endif %}{% endif %}{% if not S_AJAX_CHAT_ONLINELIST or CHAT_PAGE == 'archive' or not S_WHOIS_CHATTING %} whois_online_off{% endif %}">
							<h3>
								{{ lang('WHOIS_CHATTING') }}
							</h3>
							<div id="whois_online">
								{% INCLUDE 'chat_body_whois.html' %}
							</div>
						</div>
					{% endif %}
				</div>
				<div class="chatnavbar navbar">
					{% if CHAT_PAGE neq 'archive' %}
						{% if not S_AJAX_CHAT_MESSAGES_DOWN %}
							{% INCLUDE 'chat_body_input.html' %}
						{% endif %}
					{% endif %}
					<div class="chatform">
						<span class="list chat-icon details">{{ lang('DETAILS') }}</span>
						<img src="{{ BOARD_URL }}ext/spaceace/ajaxchat/styles/all/theme/images/check_indicator.gif" id="check_indicator" alt="check_indicator" title="{{ lang('AJAX_CHAT_VERSION') }}" />
						<img src="{{ BOARD_URL }}ext/spaceace/ajaxchat/styles/all/theme/images/act_indicator.gif" id="act_indicator" alt="act_indicator" title="{{ lang('AJAX_CHAT_VERSION') }}" />
						<strong>&nbsp;{{ lang('UPDATES') }}&nbsp;<span id="update_seconds">{{ REFRESH_TIME }}</span>&nbsp;{{ lang('UNIT') }}</strong>
					</div>
				</div>
			</div>
			{% EVENT spaceace_ajax_chat_chat_body_after %}
			{% if CHAT_PAGE == 'chat' %}
				{% INCLUDE 'overall_footer.html' %}
			{% endif %}
			{% if CHAT_PAGE == 'popup' or CHAT_PAGE == 'archive' %}
				</div>
				{% INCLUDE 'simple_footer.html' %}
			{% endif %}
		{% endif %}
	{% endif %}
{% endif %}