#act_indicator {
	visibility:hidden;
	vertical-align:text-bottom;
	margin-left: -18px;
	cursor: wait;
}

#bbpalette {
	display: inline;
}

#check_indicator{
	vertical-align:text-bottom;
	margin-right: -2px;
	margin-bottom: 2px;
	cursor: help;
}

#chat {
	width: 100%;
}

#chat-header {
	width: 100%;
}

#whois_online {
	text-align: left;
	margin-left: 10px;
}

#fc {
	margin: 0 auto;
	height: 20px;
	width: 20px;
	border-style:solid;
	border-width:1px;
}

#chat_colour_palette {
	text-align: center;
	padding-bottom: 5px;
}

#chat_colour_palette table {
	margin: 0 auto;
}

#ajaxchat .navbar.chatrules {
	margin: 0 5px 3px 5px;
	border-radius: 0 0 7px 7px;
}

#ajaxchat .navbar.chatrules ul {
	list-style-type: none !important;
}

#ajaxchat .navbar.chatrules ol, ul {
	margin-left: 5px;
	list-style-position: inside;
}

#ajaxchat .forabg {
	margin-bottom: 0;
}

.select_color {
	margin: 0 auto;
}

.shouts {
	width: 85%;
	height: 250px;
	overflow: auto;
	overflow-x: hidden;
	margin-left: 0.5%;
	display: inline-block;
	position: relative;
}

.chat_online_off {
	width: 100%;
	height: 250px;
	overflow: auto;
	overflow-x: hidden;
}

.whois_online_off {
	visibility: hidden;
	position: fixed;
}

.whois {
	display: inline-block;
	height: 250px;
	overflow: auto;
	text-align: center;
	white-space:nowrap;
}

.whois h3 {
	margin: 2px 0;
}

.whois_online {
	display: block;
	width: 90%;
	text-align: left;
	margin: 6px auto;
}

.archive {
	float: left;
	width: 100%;
	overflow: auto;
	overflow-x: hidden;
}

.chat-postbody {
	padding: 0;
	line-height: 1em;
	width: 100%;
	clear: both;
	min-height: 20px;
}

.chat dd {
	border: none !important;
}

.chat-postbody .content {
	font-size: 1.3em;
}

.chatform {
	width: 100% !important;
	text-align: center;
	padding: 2px;
}

.chat-postbody ul.profile-icons {
	float: right;
	width: auto;
	padding: 0;
}

.chat-postbody ul.profile-icons li {
	margin: 0 3px;
}

.chat_rules {
	padding: 2px 6px 4px;
	font-size: 1.1em;
}

.chat-rules-center {
	width: 100%;
	margin-left: -5px;
	text-align: center;
}

.span_chat_rule {
	font-weight: bold;
	font-size: 1.1em;
	color: #AA0000;
}

.chat-header-link {
	text-align: center;
}

.main {
	height: 400px;
	overflow: auto;
}

.chatinput {
	width: 60% !important;
	margin-bottom: 4px;
}

.message {
	line-height: 1.4em;
	font-size: 1.2em;
	padding-top: 2px;
	overflow: auto;
}

.chat-postprofile {
	margin-right: 32px;
	display: inline-block;
	float: left;
	white-space: nowrap;
}

.chat-postprofile-no-avatar {
	margin-right: 4px;
	display: inline-block;
	float: left;
	white-space: nowrap;
}

.chat-usernames {
	padding-top: 5px;
}

.chat-time {
	font-size: 0.9em;
}

.status_img {
	vertical-align: middle;
}

.chat-icon {
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: url("./images/icon_chat.png");
	padding: 6px 0 6px 21px;
}

.chat-icon-link {
	background-image: url("./images/icon_chat.png");
	padding-left: 4px;
}

.chat-avatars {
	float: left;
	max-width: 20px;
	position: relative;
	margin-right: 10px;
	outline: none;
	z-index: 0;
	padding: 1px 0px 1px 0px;
}

div.chat-avatars:hover {
	background-color: transparent;
	z-index: 50;
}

.chat-avatars span {
	position: absolute;
	left: 0px;
	display: none;
	text-decoration: none;
}

.chat-avatars span img {
	border-width: 0;
	height: auto;
}

div.chat-avatars:hover span {
	position:absolute;
	display:block;
	top: -4px;
	left: 40px;
	padding: 2px 2px 0;
	background: transparent;
	width: 300px;
}

.top-pad {
	padding-top: 2px;
}

.chat-avatars > img {
	width: auto !important;
	height: auto !important;
	max-width: 25px;
	max-height: 20px;
}

.chat li.row:hover {
	background-color: transparent !important;
}

.chat_sound {
	visibility: hidden;
	position: absolute;
}

.chatnavbar {
	margin: 6px 0 4px 0;
	padding: 5px 10px 8px 10px;
	text-align: center;
}

.input_message {
	padding: 10px;
}

.chat-postbody .message blockquote, .chat-postbody .codebox {
	margin-right: 30px;
	margin-bottom: 4px;
	width: 80%;
}

.chat-postbody .message blockquote {
	width: calc(100% - 65px);
}

.chat .button {
	padding: 0 8px;
	height: auto;
	margin-bottom: 3px;
}

.chat a:hover {
	text-decoration: none !important;
}

.font_cookie_delete {
	margin: 2px auto 0 auto !important;
	width: 90px;
}

.details {
	color: #AA0000;
}

.nobg {
	background: none !important;
	border: none !important;
}

.chat_edit textarea.inputbox {
	width: 99%;
}

/* ABBC3 Compatibility */

#ajaxchat .abbc3_buttons_row {
	width: inherit !important;
}

#ajaxchat #abbc3_buttons {
	margin-top: 0 !important;
}

#ajaxchat #color_palette_placeholder {
	width: 100%;
	margin: 0 auto;
}

#ajaxchat #color_palette_placeholder table {
	width: 100%;
	margin: 0 auto;
}

#chat_bbcodes #bbcode_wizard {
	position: inherit;
}

#chat ul.topiclist dt {
	width: auto;
}

/* bootlike additions */

.bordernav {
	border: 1px solid #E7E7E7;
}

.chatpost {
	padding: 0 0 2px 5px;
	margin-bottom: 0;
	background-repeat: no-repeat;
	background-position: 100% 0;
	position: relative;
	border-radius: 4px;
	border-right: #CCCCCC 1px solid;
	border-bottom: #CCCCCC 1px solid;
	border-left: #CCCCCC 1px solid;
}

.chat .btnbl {
	padding: 2px 10px;
}

.smfont {
	font-size: inherit;
}

.chat.panel {
	margin-bottom: 3px;
}

.chat-messages-down {
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
}

/* Subway additions */
#chat .subway .post-buttons .icon-button:before {
	top: 5px;
}

#chat .subway .post-buttons .button {
	height: 24px;
	width: 24px;
}

.subway .chatpost {
	margin-bottom: 5px;
	padding: 5px;
}

/* Black additions */
.fachaticon {
	width: 30px;
	margin-left: -5px;
}

.fachaticon .nav-link {
	width: 30px;
}

.fachaticon .navbar .nav-tabs .responsive-menu .nav-link:after, .navbar .nav-tabs .account .nav-link:after, .navbar .nav-tabs .pm .nav-link:after, .navbar .nav-tabs .notifications .nav-link:after, .navbar .nav-tabs .mcp .nav-link:after, .navbar .nav-tabs .acp .nav-link:after, .navbar .nav-tabs .faq .nav-link:after, .navbar .nav-tabs .logout .nav-link:after, .navbar .nav-tabs .login .nav-link:after, .navbar .nav-tabs .register .nav-link:after, .navbar .nav-tabs .rightside .boardrules .nav-link:after, .navbar .nav-tabs .rightside .pages .nav-link:after, .navbar .nav-tabs .members .nav-link:after, .navbar .nav-tabs .forums .nav-link:after, .navbar .nav-tabs .leftside .boardrules .nav-link:after, .navbar .nav-tabs .leftside .pages .nav-link:after {
	font-size: 16px;
}

/* Aqua-Marine additions */
#ajaxchat .forabg.aqua-marine {
	padding-bottom: 0;
}

#ajaxchat .navbar.chatrules.aqua-marine {
	margin-top: -4px;
}

/* ComBoot additions */
.message-comboot {
	line-height: 1.4em;
	padding-top: 2px;
	overflow: auto;
}

.whois-comboot h3 {
	margin: 2px 0;
	font-size: inherit;
}

#ajaxchat .btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group {
	float: none !important;
}

#ajaxchat .btn {
	padding: 0px 10px;
}

/*!
 *  Font Awesome 4.6.1 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('font-awesome/fontawesome-webfont.eot?v=4.5.0');
  src: url('font-awesome/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('font-awesome/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('font-awesome/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('font-awesome/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('font-awesome/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('font-awesome/fontawesome-webfont.eot?v=4.6.1');
  src: url('font-awesome/fontawesome-webfont.eot?#iefix&v=4.6.1') format('embedded-opentype'), url('font-awesome/fontawesome-webfont.woff2?v=4.6.1') format('woff2'), url('font-awesome/fontawesome-webfont.woff?v=4.6.1') format('woff'), url('font-awesome/fontawesome-webfont.ttf?v=4.6.1') format('truetype'), url('font-awesome/fontawesome-webfont.svg?v=4.6.1#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.shout-body .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1.125em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa-quote-left:before {
  content: "\f10d";
}

.fa-pencil-square-o:before {
  content: "\f044";
}

.fa-trash-o:before {
  content: "\f014";
}

.fa-comments:before {
  content: "\f086";
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px) {
	.whois {
		width: 100%;
		height: auto;
		text-align: left;
		padding: 6px 0 0;
	}
	.whois_chatting {
		display: inline;
		border: none;
		margin: 0;
	}
	.whois_online {
		display: inline;
		margin: 0 4px;
	}
	.shouts {
		width: 100%;
		height:150px;
	}
	#whois_online {
		display: -webkit-flex; /* Safari */
		-webkit-flex-wrap: wrap; /* Safari 6.1+ */
		display: inline-flex;
		flex-wrap: wrap;
	}
	.chatpost {
		padding: 0 0 2px 10px !important;
	}
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	.chatpost {
		padding: 0 0 2px 10px !important;
	}
	.chat-postprofile {
		float: left;
	}
	.message {
		clear: left;
	}
	.shout-body .fa {
		font-size: 1em;
	}
}

@media only screen and (max-width: 550px), only screen and (max-device-width: 550px) {
	.chat-avatars {
		display: none;
	}
	.chat-postprofile {
		margin-right: 4px;
		min-width: 80px;
		display: inline;
	}
	.chatnavbar {
		padding: 2px;
	}
	#bbpalette {
		display: none;
	}
	#whois_online {
		display: -webkit-flex; /* Safari */
		-webkit-flex-wrap: wrap; /* Safari 6.1+ */
		display: inline-flex;
		flex-wrap: wrap;
	}
	.chatpost {
		padding: 0 0 2px 10px !important;
	}
}

.original {
	padding: 8px 10px;
	margin-bottom: 4px;
}

.nomargin {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

#ajaxchat .forabg ul.topiclist li.header dt, .forumbg ul.topiclist li.header dt {
	width: 100%;
}

/*BBCodes*/
#ajaxchat .message ul, #ajaxchat .message ol {
	margin: 0.8em 0 0.9em 3em;
}