{% for chatrow in loops.chatrow %}
	<div id="p{{ chatrow.MESSAGE_ID }}" class="chatpost {% if not S_AJAX_CHAT_CHATROW_FULL %}original {% endif %}bg{{ chatrow.CLASS }}{% if not S_AJAX_CHAT_MESSAGES_DOWN %} chat-messages-down{% endif %}">
		<div class="chat-postbody">
			<div class="{% if S_AJAX_CHAT_AVATARS %}chat-postprofile{% else %}chat-postprofile-no-avatar{% endif %}" id="profile{{ chatrow.MESSAGE_ID }}">
				<div {% if S_AJAX_CHAT_AVATARS %}class="chat-avatars"{% endif %}>
					{% if S_AJAX_CHAT_AVATARS %}
						{% if chatrow.USER_AVATAR %}
							{% if S_AJAX_CHAT_AVATAR_HOVER %}
								<span>{{ chatrow.USER_AVATAR }}</span>
							{% endif %}
								{{ chatrow.USER_AVATAR_THUMB }}
						{% else %}
							{% if S_AJAX_CHAT_AVATAR_HOVER %}
								<span>
									<img src="{{ STYLE_PATH }}/theme/images/no_avatar.gif" height="128" alt="" />
								</span>
							{% endif %}
							<img src="{{ STYLE_PATH }}/theme/images/no_avatar.gif" height="20" alt="" />
						{% endif %}
					{% endif %}
				</div>
				<div class="chat-usernames">
					{% if not S_IS_BOT and S_USER_LOGGED_IN and CHAT_PAGE neq 'archive' %}
						{% if chatrow.USER_COLOR %}
							<a href="#" style="color: #{{ chatrow.USER_COLOR }}" onclick="insert_text('[color=#{{ chatrow.USER_COLOR }}][b]&#64;{{ chatrow.USERNAME_A }}&nbsp;:&nbsp;[/color][/b]', true);return false;" title="{{ lang('RESPOND') }}">&#64;</a>
						{% else %}
							<a href="#" onclick="insert_text('[b]&#64;{{ chatrow.USERNAME_A }}&nbsp;:&nbsp;[/b]', true);return false;" title="{{ lang('RESPOND') }}">&#64;</a>
						{% endif %}
					{% else %}
						&#64;
					{% endif %}
					{{ chatrow.USERNAME_FULL }}&nbsp;<b class="chat-time">&laquo;&nbsp;{{ chatrow.TIME }}&nbsp;&raquo;</b>
				</div>
			</div>
			{{ SMILIES_PATH }}
			<div class="message-comboot">
				{% INCLUDE 'chatrow_message_icons.html' %}
				{{ chatrow.MESSAGE }}
			</div>
		</div>
	</div>
{% endfor %}