<!-- IF S_CHAT_ENABLED and S_CHAT_NAV_LINK and SCRIPT_NAME neq 'app/chat' -->
	<!-- IF S_AJAXCHAT_VIEW -->
		<!-- IF IS_PHPBB31 -->
			<li class="small-icon data-last-responsive chat-icon-link"><a href="{U_CHAT}" title="{{ lang('CHAT_EXPLAIN') }}" role="menuitem">{{ lang('CHAT_EXPLAIN') }}</a></li>
		<!-- ELSEIF IS_PHPBB32 -->
			<li><a href="{U_CHAT}" title="{{ lang('CHAT_EXPLAIN') }}" role="menuitem"><i class="icon fa-comments fa-fw" aria-hidden="true"></i>{{ lang('CHAT_EXPLAIN') }}</a></li>
		<!-- ENDIF -->
	<!-- ENDIF -->
<!-- ENDIF -->
